@import "colours"
@import "vars-bootstrap"
@import "bootstrap/scss/bootstrap"

$header_logo_height: 90px
$header_logo_margin: 10px
$header_buttons_height: 40px
$header_buttons_margin: ($header_logo_height - $header_buttons_height) / 2
$logo_sub_font_size: 0.9em

#logo
    :height $header_logo_height - $header_logo_margin
    :margin-top $header_logo_margin
    :text-align center
    h1, h1 a
        :color $red
    h3
        :text-transform uppercase
        :font-size $logo_sub_font_size

#main-navigation
    :margin-top $header_buttons_margin
    :text-align right
    ul.nav
        :display inline-block

#answer-box
    :margin 0px 0

#answer-field
    :width 100%
    :font-size 2em
    :margin-top 3px
    :margin-bottom 3px
    :outline 0
    :padding-left 10px
    :padding-right 10px
    :border 1px solid $gray
    :transition all 0.1s ease-in-out
    &:hover
        :border-color $orange
    &:focus
        :margin-top 0px
        :margin-bottom 0px
        :border 4px solid $orange

h1
    :color $red

article.answer
    :margin-bottom 1em
    :max-height 200px
    :transition margin, max-height 0.15s ease-in-out
    :overflow hidden
    p
        :font-size 2em
        :margin 0
    nav
        :font-size 0.7em
        &>*
            :margin-right 3px

.nav-link
    :color $orange
    @include hover-focus
        :text-decoration none
        :background-color $orange
        :color #fff

$day-size: 10px
$day-margin: 2px

#calendar
    :line-height $day-size
    :font-size 0
    time
        :display inline-block
        :width $day-size
        :height $day-size
        :background-color $gray
        :margin 0 $day-margin
        :position relative
        :z-index 51

        .cal-tooltip
            :background-color #222
            :color #eee
            :position absolute
            :top -25px
            :left -30px
            :text-align center
            :width 95px
            :height auto 
            :z-index -1
            :font-size 12px
            :line-height 12px
            :display none
            span
                :display inline-block
                :padding 5px
            .counter
                :float right
                :background $red

        &:hover
            :outline 2px solid $orange
            :cursor pointer
            .cal-tooltip
                :display block
                :z-index 5

    time.with-answers
        :background-color $green
        .cal-tooltip .counter
            :background $blue

strong > em
    :color $red
